body{
    margin: 0;
    padding: 0;
    background-color: #111;
    color: white;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
    nav{
        background-color: #b30000;
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 25px;
    }
    nav li{
        list-style: none;
    }
    nav a{
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        transition: 0.3s;
    }
    nav a:hover{
        color: orange;
        transition: 0.3s;
    }
    .logo{
        width: 90px;
        height: auto;
    }
    h1{
        text-align: center;
        font-size: 42px;
        color: #ffcc00;
        margin-top: 30px;
    }
    p{
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
    }
    .btn{
        display: inline-block;
        background-color: orange;
        color: black;
        text-decoration: none;
        padding: 15px 30px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: bold;
        transition: 0.3s;
    }
    .btn:hover{
        background-color: white;
        color: #b30000;
        transform: scale(1.08);
    }
    .news{
        background-color: #222;
        width: 80%;
        margin: 30px auto;
        padding: 20px;
        border-radius: 15px;
    }
    .news img{
        width: 100%;
        border-radius: 10px;
    }
    .news p{
        line-height: 1.7;
        font-size: 18px;
    }
    .news:hover{
        transform: translate(-8px);
        transition: 0.3s;
        box-shadow: 0 0 20px red;
    }
    .news h3{
        color: orange;
        font-size: 28px;
        margin-bottom: 15px;
    }
    .hero{
        text-align: center;
        padding: 120px 20px;
        background-position: center;
        background-size: cover;
        background-image: url("images/freefire-banner.jpg");
    }
    .hero h1{
        font-size: 50px;
        color: orange;
        margin-bottom: 15px;
    }
    .hero p{
        font-size: 20px;
        margin-bottom: 25px;
    }
    .btn:hover{
        background-color: white;
    }
    .cards{
        display: flex;
        gap: 25px;
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px;
    }
    .weapon-list{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
    .weapon-card{
        background: #1b1b1b;
        color: white;
        padding: 15px 25px;
        border: 2px solid #ff9800;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
    }
    .weapon-card:hover{
        background: #ff9800;
        color: black;
        transform: translateY(-5px);
    }
    .character-list{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
    .character-card{
        background: #1b1b1b;
        color: white;
        padding: 15px 25px;
        border: 2px solid #00e5ff;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
    }
    .character-card:hover{
        background: #00e5ff;
        color: black;
        transform: translateY(-5px);
    }
    .play-section{
        background: #1b1b1b;
        text-align: center;
        padding: 50px 20px;
        border-radius: 15px;
        margin: 50px 20px;
    }
    .play-section h2{
        color: #ff9800;
        font-size: 32px;
        margin-bottom: 10px;
    }
    .play-section p{
        color: #ccc;
        margin-bottom: 25px;
        font-size: 18px;
        max-width: 700px;
        line-height: 1.8;
        margin: 0 auto 25px;
    }
    .play-btn{
        display: inline-block;
        background: #ff9800;
        color: #000;
        text-decoration: none;
        padding: 15px 35px;
        border-radius: 50px;
        font-weight: bold;
        transition: .3s;
    }
    .plat-btn:hover{
        background: #fff;
        transform: scale(1.05);
    }
    footer{
        background: #111;
        padding: 40px 20px;
        text-align: center;
        margin-top: 60px;
    }
    .footer-content h2{
        color: #ff9800;
        margin-bottom: 15px;
    }
    .footer-content p{
        color: #bbb;
        line-height: 1.7;
    }
    .footer-links{
        margin: 225px 0;
    }
    .footer-links a{
        color: white;
        text-decoration: none;
        margin: 0 12px;
        transition: .3s;
    }
    .footer-links a:hover{
        color: #ff9800;
    }
    .copyright{
        margin-top: 20px;
        color: #777;
        font-size: 14px;
    }
    .official-site{
        margin-top: 20px;
        text-align: center;
        color: #ccc;
        font-size: 17px;
    }
    .official-site a{
        color: #ff9800;
        text-decoration: none;
        font-weight: bold;
        transition: .3s;
    }
    .official-site a:hover{
        color: white;
        text-decoration: underline;
    }
    .events{
        padding: 60px 20px;
        text-align: center;
        background: #181818;
        margin: 50px 20px;
        border-radius: 15px;
    }
    .events h2{
        color: #ff9800;
        font-size: 32px;
        margin-bottom: 30px;
    }
    .event-card{
        background: #222;
        border-left: 5px solid #ff9800;
        padding: 20px;
        margin: 20px auto;
        max-width: 700px;
        border-radius: 10px;
        transition: .3s;
    }
    .event-card h3{
        color: #fff;
        margin-bottom: 10px;
    }
    .event-card p{
        color: #ccc;
        line-height: 1.7;
    }
    .event-card:hover{
        transform: translateY(-5px);
        box-shadow: 0 0 15px rgba(255, 152, 0, 0.4);
    }
    .community{
        background: #181818;
        padding: 60px 20px;
        margin: 50px 20px;
        border-radius: 15px;
        text-align: center;
    }
    .community h2{
        color:#ff9800;
        font-size: 32px;
        margin-bottom: 10px;
    }
    .community p{
        color: #ccc;
        margin-bottom: 30px;
        line-height: 1.7;
    }
    .community-container{
        display: flex;
        gap: 25px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .community-card{
        background: #222;
        width: 350px;
        padding: 25px;
        border-radius: 12px;
        border-top: 4px solid #ff9800;
        transition: .3s;
    }
    .community-card:hover{
        transform: translateY(-8px);
        box-shadow: 0 0 20px rgba(255, 152, 0, 0.4);
    }
    .community-card h3{
        color: #fff;
        margin-bottom: 15px;
    }
    .community-card p{
        color: #bbb;
        margin-bottom: 25px;
    }
    .community-card a{
        display: inline-block;
        background: #ff9800;
        color: #000;
        text-decoration: none;
        padding: 12px 25px;
        border-radius: 30px;
        font-weight: bold;
        transition: .3s;
    }
    .community-card a:hover{
        background: #fff;
    }
    .giveaway{
        max-width: 900px;
        margin: 50px auto;
        padding: 40px;
        background: #1b1b1b;
        border-radius: 15px;
        color: white;
    }
    .giveaway h2{
        color: #ff9800;
        text-align: center;
        margin-bottom: 20px;
    }
    .giveaway h3{
        color: #ff9800;
        margin-top: 30px;
    }
    .giveaway p{
        color: #ccc;
        line-height: 1.8;
    }
    .giveaway ul{
        margin-top: 15px;
        margin-left: 25px;
        line-height: 2;
    }
    .join-btn{
        display: inline-block;
        margin-top: 30px;
        background: #ff9800;
        color: #000;
        text-decoration: none;
        padding: 15px 35px;
        border-radius: 40px;
        font-weight: bold;
        transition: .3s;
    }
    .join-btn:hover{
        background: white;
        color: black;
    }
    .giveaway-banner{
        background: linear-gradient(90deg, #ff9800, #ff5722);
        color: white;
        text-align: center;
        padding: 30px;
        border-radius: 15px;
        margin-bottom: 30px;
    }
    .giveaway-banner h2{
        color: white;
        margin-bottom: 10px;
    }
    .register{
        max-width: 700px;
        margin: 60px auto;
        background: #1b1b1b;
        padding: 40px;
        border-radius: 15px;
    }
    .register h1{
        color: #ff9800;
        text-align: center;
        margin-bottom: 10px;
    }
    .register p{
        text-align: center;
        color: #ccc;
        margin-bottom: 30px;
    }
    .register label{
        display: block;
        margin-top: 20px;
        margin-bottom: 8px;
        color: white;
        font-weight: bold;
    }
    .register input,
    .register select{
        width: 100%;
        padding: 14px;
        border: none;
        border-radius: 8px;
        background: #2a2a2a;
        color: white;
        font-size: 16px;
    }
    .register input:focus,
    .register select:focus{
        outline: 2px solid #ff9800;
    }
    .register button{
        width: 100%;
        margin-top: 30px;
        padding: 15px;
        background: #ff9800;
        color: black;
        border: none;
        border-radius: 8px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: .3s;
    }
    .register button:hover{
        background: white;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background: #0d0d0d;
        color: white;
        font-family: Arial, sans-serif;
    }
    .hero{
        height: 100vh;

        background: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75));

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-bottom: 4px solid #ff9800;
    }
    .hero-content{
        max-width: 900px;
        padding: 20px;
    }
    .badge{
        display: inline-block;
        background: #ff9800;
        color: #111;
        padding: 10px 25px;
        border-radius: 30px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .hero h1{
        font-size: 70px;
        letter-spacing: 3px;
        margin-bottom: 15px;
    }
    .hero h2{
        font-size: 100px;
        color: #ff9800;
        margin-bottom: 25px;
        text-shadow: 0 0 20px #ff9800;
    }
    .hero p{
        color: #ddd;
        font-size: 22px;
        margin-bottom: 40px;
    }
    .hero-btn{
        display: inline-block;
        background: #ff9800;
        color: #111;
        padding: 18px 45px;
        border-radius: 50px;
        text-decoration: none;
        font-size: 22px;
        font-weight: bold;
        margin-top: 30px;
        transition: 0.3s;
    }
    .hero-btn:hover{
        background: #ffb300;
        transform: scale(1.08);
        box-shadow: 0 0 30px #ff9800;
    }
    .hero-line{
        width: 250px;
        height: 4px;
        background: #ff9800;
        margin: 50px auto 0;
        border-radius: 20px;
        box-shadow: 0 0 20px #ff9800;
    }
    .tournament-info{
        padding: 80px 20px;
        text-align: center;
    }
    .tournament-info h2{
        font-size: 45px;
        color: #ff9800;
        margin-bottom: 20px;
    }
    .info-text{
        max-width: 750px;
        margin: 0 auto 50px;
        color: #ccc;
        font-size: 18px;
        line-height: 1.8;
    }
    .cards{
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }
    .card{
        width: 300px;
        background: #181818;
        border: 2px solid #ff9800;
        padding: 30px;
        border-radius: 20px;
        transition: .4s;
    }
    .card:hover{
        transform: translateY(-10px);
        box-shadow: 0 0 25px rgba(225,  152, 0, .5);
    }
    .card-icon{
        font-size: 50px;
        margin-bottom: 20px;
    }
    .card h3{
        color: #ff9800;
        margin-bottom: 15px;
    }
    .card p{
        color: #ddd;
        margin: 10px 0;
    }
    .champions{
        padding: 100px 20px;
        text-align: center;
    }
    .champions h2{
        color: #ff9800;
        font-size: 45px;
        margin-bottom: 20px;
    }
    .champions p{
        color: #ccc;
        margin-bottom: 50px;
        font-size: 18px;
    }
    .champion-container{
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }
    .champion-card{
        background: #1a1a1a;
        width: 280px;
        padding: 30px;
        border-radius: 20px;
        border: 2px solid #ff9800;
        transition: .3s;
    }
    .champion-card:hover{
        transform: translateY(-10px);
        box-shadow: 0 0 30px rgba(255,  152, 0, .5);
    }
    .rank{
        font-size: 60px;
        margin-bottom: 20px;
    }
    .champion-card h3{
        color: #fff;
        margin-bottom: 15px;
    }
    .winner{
        color: #ff9800;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .champion-card span{
        color: #aaa;
        font-size: 16px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 60px;
        background: #fff;
        box-shadow: 0 2px 10px rgba(0,0,0,.08);
    }
    .logo{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .logo img{
        width: 60px;
    }
    .logo h2{
        font-size: 36px;
        color: #0b4db8;
    }
    .logo span{
        color: #1e90ff;
    }
    .logo p{
        font-size: 13px;
        color: #666;
    }
    nav a{
        margin: 0 15px;
        text-decoration: none;
        color: #222;
        font-weight: 600;
    }
    nav a:hover,
    nav a.active{
        color: #1e90ff;
    }
    .login-btn{
        padding: 12px 28px;
        border: 2px solid #1e90ff;
        border-radius: 10px;
        text-decoration: none;
        color: #1e90ff;
        font-weight: bold;
    }